.container-searchbar{
  display: flex;

}

.input{
  border-radius: 5px;
  text-align: center;
}

.btnSearch{
  border-radius: 50%;
  cursor: pointer;
}

.img-lupa{
  display: flex;
  width: 18px;
  border-radius: 50%;
  margin: 0;
}