.paginationUl {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 5px;
}

.paginationButton {
  margin-left: auto;
  margin-right: auto;
  background-color: #000000a2;
  height: 5ex;
  width: 5ex;
  border-radius: 5ex;
  border: none;
  color: rgb(255, 255, 255);
  transition: 0.3s;
  cursor: pointer;
}

.paginationButton:hover {
  transition-delay: 0s;
  color: rgb(255, 255, 255);
  transform: translateY(1ex);
}

.paginationButton:active {
  transition-delay: 0s;
  color: rgb(69, 65, 129);
  box-shadow: 0 0 40px rgb(219, 219, 219);
  transform: translateY(1ex);
}
