.background {
  background-image: url("../../assets/landing_back.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 100vh;
  max-width: 100%;
  min-width: 250px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-around;
  flex-wrap: wrap;
}

.title{
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: bolder;
  color: black;
  background: rgba(192, 192, 192, 0.805);
}

.card-right{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 300px;
  height: auto;
  border-radius: 10px;
}

.logo-github{
  filter: invert(100%);
  width: 100px;
}

.logo-linkedIn{
  filter: invert(100%);
  width: 100px;
}

.card-left{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 300px;
  height: auto;
  border-radius: 10px;
}

.btnIngresar{
  background: linear-gradient(yellow, red);
  padding: 10px;
  border: none;
  border-radius: 10px;
  color: black;
  font-weight: bolder;
}